.App {
  background-color: #f1f1f1;
  height: 100%;
}
.content {
  background-color: #fff;
  margin: 25px;
  padding: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: #282c34;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#characterImg {
  width: 33%;
  border-radius: 50%;
  border: 4px solid #282c34;
}

#info {
  height: calc(100vh - 110px);
  overflow-y: auto;
}